MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=smart_career_guidance
SECRET_KEY=smart-career-guidance-super-secret-key-2026
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ENVIRONMENT=development
AI_API_KEY=
